*{
    padding: 0;
    margin: 0;
    }
    a{
        color: black;
        text-decoration: none;
    }
    header{
        background-color: transparent;
        padding: 30px;
        text-align: center;
    }
    header h1{
        font-size: 60px;
        margin-bottom: 20px;
    }
    header h2{
        margin-bottom: 20px;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    .img-btn {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        height: auto;
        transition: 0.3s;
    }
    .img-btn:hover {
        opacity: 0.7;
    }
    main h2{
        padding-bottom: 20px;
        text-align: center;
        padding-top: 20px;
    }
    main {
        background-color: transparent;
    }
    aside {
        background-color: black;
        color: white;
        text-align: center;
    }
    aside h2{
        padding-top: 20px;
    }
    aside .btn{
        display: inline-block;
        background-color: white;
        padding: 10px 40px;
        border: 5px solid lightblue;
        border-radius: 100px;
    }
    footer {
        text-align: center;
    }
    h1 {
        position: relative;
        display: inline-block;
        padding: 0 55px;
      }
      
      h1:before, h1:after {
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 2px;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
      }
      
      h1:before {
        left:0;
      }
      h1:after {
        right: 0;
      }
      h1 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
h1:before, h1:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
}
h1:before {
  left: 7px;
}
h1:after {
  right: 7px;
}
body {
    background-image: 
    linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
    url("../images/sky.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* ←これでスクロールしても動かない */
}
@media (max-width: 600px){
    header h1{
        font-size: 40px;
    }
    main h2{
        font-size: 15px;
    }
    main,header{
        min-height: 200px;
    }
    aside{
        padding: 30px;
    }
   
    }


   