*{
    padding: 0;
    margin: 0;
    }
    a{
        color: black;
        text-decoration: none;
    }
    header{
        background-color: lightblue;
        padding: 30px;
        text-align: center;
    }
    header h1{
        font-size: 60px;
        margin-bottom: 20px;
    }
    header h2{
        margin-bottom: 20px;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    .img-btn {
        display: block;
        margin: 0 auto;
    }
    main h2{
        padding-bottom: 20px;
        text-align: center;
        padding-top: 20px;
    }
    .img-btn {
        width: 1000px;
        max-width: 1000px;
        height: auto;
    }
    main {
        background-color: gray;
    }
